---
const { cardContent } = Astro.props;
---

<section class="scrolling" id="projects">
  <div class="scrolling-top">
    <h3>My projects</h3>
    <div class="buttons">
      <button class="scroll-arrow left" id="scroll-left">&larr;</button>
      <button class="scroll-arrow right" id="scroll-right">&rarr;</button>
    </div>
  </div>

  <ul class="full-width">
    {
      cardContent.map((card) => (
        <li>
          <a href={card.link} target="_blank">
            <img src={card.image} alt="" />
            <h6>{card.title}</h6>
            <p>{card.body}</p>
          </a>

          <a href={card.link} target="_blank">
            Link to the project
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  @layer components {
    .scrolling {
      grid-column: full;
      display: grid;
      grid-template-columns: var(--layout-grid2);
      grid-template-rows: auto auto;
      padding: var(--space-s-m);
      row-gap: var(--space-s-m);
      background: var(--sort);
      color: var(--baggrund);

      /* @media (width < 600px) {
        padding: var(--space-xs);
      } */
      > ul {
        scroll-snap-type: x mandatory;
        grid-column: 1 / -1;
        grid-row: 2;
        padding-inline: max(1rem, 50% - var(--content) / 10px);

        li {
          scroll-snap-align: center;
          &:first-child {
            margin-left: calc(50% - var(--content) / 2);
            @media (width < 600px) {
              margin-left: 0px;
            }
          }
          &:last-child {
            margin-right: calc(50% - var(--content) / 2);
            @media (width < 600px) {
              margin-right: 0px;
            }
          }
        }
      }

      .scrolling-top {
        grid-column: 2 / 4;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttons {
          display: flex;
          gap: var(--space-s);
          .scroll-arrow {
            background: var(--baggrund);
            color: var(--sort);
            padding: 11px 14px;
            border-radius: 50px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease-in-out;

            &:hover {
              background-color: var(--brun);
              color: var(--sort);
            }
          }
        }
      }
    }

    /* scrolling stop */

    .full-width {
      display: flex;
      gap: var(--space-s-m);
      overflow-x: auto;
      list-style: none;
      margin-top: 0;

      li {
        flex-basis: min(500px, 90%);
        flex-shrink: 0;
        background: var(--baggrund);
        color: var(--sort);
        border-radius: 30px;
        padding: var(--space-s-m);
        align-self: start;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: var(--space-xs-s);
        a:first-of-type {
          h6 {
            margin-top: var(--space-xs);
          }
          p {
            margin-top: var(--space-3xs);
          }
        }
        &:hover {
          transform: scale(0.95);
        }

        @media (width < 600px) {
          flex-basis: min(300px, 90%);
        }

        a:last-of-type {
          transition: all 0.4s ease-out;
          margin-top: var(--space-3xs);
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const container = document.querySelector(".scrolling ul");
    const leftButton = document.getElementById("scroll-left");
    const rightButton = document.getElementById("scroll-right");

    const cardWidth = 400; // Width of each card
    const scrollAmount = cardWidth + 16; // cardWidth + gap between cards

    leftButton.addEventListener("click", () => {
      container.scrollBy({ left: -scrollAmount, behavior: "smooth" });
    });

    rightButton.addEventListener("click", () => {
      container.scrollBy({ left: scrollAmount, behavior: "smooth" });
    });
  });
</script>
